

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>Link Ease | Stats</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/linkease.png') }}" type="image/png">
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #8f94fb;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='image/linkease.png') }}" alt="" width="35" height="26" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-nav" id="navbarText">
                    {% if current_user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                            </li>
                            <li class="nav-item" style="margin-left: 2rem;">
                                <a class="nav-link" href="{{ url_for('links.stats') }}">History</a>
                            </li>
                            <li class="nav-item" style="margin-left: 2rem;">
                                <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <section class="section">
        <div class="container">
            <h1 class="title" style="text-align: center;">Link History</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Original URL</th>
                        <th>Short URL / Custom URL</th>
                        <th>Visits</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Original URL</th>
                        <th>Short URL / Custom URL</th>
                        <th>Visits</th>
                        <th>Date Created</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for link in links %}
                        <tr>
                            
                            <td>{{ link.original_url }}</td>
                            {% if link.custom_url %}
                                <td>{{ url_for('links.redirect_to_url', short_url=link.custom_url, _external=True) }}</td>
                            {% else %}
                                <td>{{ url_for('links.redirect_to_url', short_url=link.short_url, _external=True) }}</td>
                            {% endif %}
                            <td>{{ link.visits }}</td>
                            <td>{{ link.date_created.strftime('%I:%M%p %B %d, %Y') }}</td>
                            <td>
                                <a href="{{ url_for('links.view_link', link_id=link.id) }}">
                                    <button class="btn btn-primary">View Details</button>
                                </a>
                            </td>
                            <td>  <!-- Added delete button -->
                                <form action="{{ url_for('links.delete_url', url_id=link.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this URL?')">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
        </div>
    </section>
</body>

</html>